<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= cl_image_path('homepage_bckgrnd.jpg') %>);">
  <div class="container">
    <h1 class = "text-center">Bookmark your favourite movies</h1>
  </div>
</div>
<div class="content">
  <div class="cards">
    <% @lists.each do |list| %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3),
        rgba(0,0,0,0.3)), url(<%= list.photo.attached? ? cl_image_path(list.photo.key) : cl_image_path('homepage_bckgrnd.jpg') %>)">
          <%= link_to list_path(list) do %>
              <%= list.name %>
          <% end %>
      </div>
    <% end %>
  </div>
</div>
