
  <div class="container p-5 my-5">
    <div class="row">
      <div class="col-12 col-md-6 offset-lg-3">
        <div class="bg-white rounded p-3 shadow">
          <%= simple_form_for @list do |f| %>
            <%= f.input :name, placeholder: 'Drama' %>
            <%= f.submit class: 'btn btn-outline-primary' %>
            <%= link_to "Cancel", new_list_path(@list), class: 'btn btn-outline-danger' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
