<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">x</button>
  <h4 class="modal-title" id="myModalLabel">Modal title</h4>
</div>
<div class="modal-body">
  *Modal content comes here*
  <%= simple_form_for [list, bookmark] do |f| %>
  <div class="modal-body">
    <%= f.association :movie, collection: Movie.all.order(:title), prompt: "Select a movie", input_html: { data: { controller: "tom-select" } } %>
    <%= f.input :comment, placeholder: "Enter a comment about the movie" %>
  </div>
</div>
<div class="modal-footer">
  <%= f.submit "Add movie", class: "btn btn-primary" %>
  <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Back</button>
</div>
